/* Base Button Styling */

.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-szie: 16px;
  margin-right: 20px;
}

/* Primary Button Styles */
.primary {
  background-color: #007bff;
  color: #fff;
}

.primary:hover {
  background-color: #0056b3;
}

.secondary {
  background-color: chocolate;
  color: #fff;
}

.secondary:hover {
  background-color: #507dad;
}

.danger {
  background-color: rgb(210, 30, 30);
  color: #fff;
}

.danger:hover {
  background-color: #c6db0b;
}

/* Container Styling */

.btn-group {
  display: flex;
  gap: 10px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #c6db0b;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: center;
  width: fit-content;
  margin: 20px auto;
}
