.primary-btn {
  background-color: aqua;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-szie: 16px;
  margin-right: 20px;
}

.primary-btn:hover {
  background-color: rgb(0, 255, 42);
}

.secondary-btn {
  background-color: rgb(255, 0, 242);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-szie: 16px;
  margin-right: 20px;
}

.secondary-btn:hover {
  background-color: rgb(238, 255, 0);
}

.danger-btn {
  background-color: rgb(245, 165, 169);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-szie: 16px;
  margin-right: 20px;
}

.danger-btn:hover {
  background-color: rgb(255, 0, 25);
}

/* Style for the dynamic button */
.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-szie: 16px;
  margin-right: 20px;
}

.primary {
  background-color: aqua;
  color: rgb(0, 0, 0);
}

.primary:hover {
  background-color: rgb(0, 255, 42);
}

.secondary {
  background-color: rgb(255, 0, 242);
  color: rgb(0, 0, 0);
}

.secondary:hover {
  background-color: rgb(238, 255, 0);
}

.danger {
  background-color: rgb(245, 165, 169);
  color: rgb(0, 0, 0);
}

.danger:hover {
  background-color: rgb(255, 0, 25);
}
