body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.FG_Logo {
  height: 100px;
  width: auto;
  object-fit: contain;
}

.FG_Title {
  color: white;
  text-decoration: none;
  text-align: left;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.FG_Text1 {
  color: white;
  text-decoration: none;
  text-align: left;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.FG_Text2 {
  color: white;
  text-decoration: none;
  text-align: left;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
}
